.container{
    width: calc(100vw - 20px);
    margin: 0 auto;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-size: 1.5rem;
}

[class^="col-"]{
    background-color: #006CFA;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

.nested>div{
    background-color: #01E165;
}

.empty-row{
    padding: 20px 0 10px;
}

.empty-row>div{
    height: 35px;
}

.offset>div{
    height: 35px;
}

[class^="col-offset-"]{
    background-color: white;
    border: none;
    padding: 0px;
}